<div>
  <div class="form-control">
    <%= f.text_field :quantity, input_html: { class: 'form-input', placeholder: 'name of your ingredient' } %>

  </div>

  <div class="form-control">
    <%= f.text_field :quantity, input_html: { class: 'form-input', placeholder: 'name of your ingredient' } %>

  </div>
  
</div>
